 1. What are data structures, and why are they important?

 Data structures are ways of organizing and storing data so it can be accessed and modified efficiently.
They are important because they improve performance, memory usage, and code efficiency, especially when handling large data

2. Explain the difference between mutable and immutable data types with examples

Mutable: Can be changed after creation
Example: list, dictionary
Immutable: Cannot be changed after creation
Example: tuple, string

3. What are the main differences between lists and tuples in Python

List is mutable, Slower and it uses [] Brackets while,
Tuples are immutable, Faster and it uses () brackets.

4. Describe how dictionaries store data

Dictionaries store data as key–value pairs using a hash table, where each key is unique.

5. Why might you use a set instead of a list in Python

Sets do not allow duplicates

Faster membership checking

Useful for unique elements

6. What is a string in Python, and how is it different from a list

A string is a sequence of characters and is immutable, while a list is mutable and can store different data types.

7. How do tuples ensure data integrity in Python

Tuples are immutable, so their values cannot be modified, preventing accidental data changes.

8.  What is a hash table, and how does it relate to dictionaries in Python

A hash table stores data using hash functions.
Python dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python

Yes

10. Explain why strings are immutable in Python

Immutability improves performance, memory efficiency, and security.

11. What advantages do dictionaries offer over lists for certain tasks?

Faster access using keys

Meaningful data storage

Ideal for large datasets

12.  Describe a scenario where using a tuple would be preferable over a list?

When data should not change, such as coordinates:
point = (10, 20)

13.  How do sets handle duplicate values in Python

Duplicates are automatically removed.
{1, 2, 2, 3} → {1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries

List: checks values

Dictionary: checks keys

15. Can you modify the elements of a tuple? Explain why or why not

No. Tuples are immutable, so elements cannot be changed.

16. What is a nested dictionary, and give an example of its use case

A dictionary inside another dictionary.
Used in student records, JSON data.

students = {"A": {"age": 20, "marks": 90}}

17. Describe the time complexity of accessing elements in a dictionary

Average case: O(1) (constant time)

18.  In what situations are lists preferred over dictionaries

Ordered data

Indexed access

Simple collections

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Dictionaries are considered unordered because they store data using hash values, not by index order.
This means data is accessed using keys instead of positions, allowing very fast retrieval (O(1)), but elements cannot be accessed by index.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

A list retrieves data using index positions (e.g., list[0]).

A dictionary retrieves data using keys (e.g., dict['key']).

Lists are suited for ordered, index-based access, while dictionaries provide faster and meaningful key-based access

In [1]:
# Write a code to create a string with your name and print it
name = "Vaibhav"
print(name)

Vaibhav

In [2]:
# Write a code to find the length of the string "Hello World"
s = "Hello World"
print(len(s))

11

In [3]:
#Write a code to slice the first 3 characters from the string "Python Programming"
s = "Python Programming"
print(s[0:3])

Pyt

In [4]:
#Write a code to convert the string "hello" to uppercase.
s = "hello"
print(s.upper())

HELLO

In [5]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
s = "I like apple"
print(s.replace("apple","orange"))

I like orange

In [6]:
#Write a code to create a list with numbers 1 to 5 and print it.
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

In [8]:
#  Write a code to append the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [10]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [11]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [12]:
# Write a code to reverse the list [10, 20, 30, 40, 50]
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [14]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100, 200, 300)
print(t)
print(type(t))

(100, 200, 300)
<class 'tuple'>

In [15]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

In [16]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15)
t = (10, 20, 5, 15)
print(min(t))

5

In [17]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t = ('dog', 'cat', 'rabbit')
print(t.index("cat"))

1

In [18]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
t = ('apple', 'banana', 'orange')
print("kiwi" in t)

False

In [19]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'c', 'a', 'b'}

In [20]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [21]:
#  Write a code to remove the element 4 from the set {1, 2, 3, 4}
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [22]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [23]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))

{2, 3}

In [24]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it
d = {"name": "John", "age": 25, "city": "New York"}
print(d)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [25]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
d = {'name': 'John', 'age': 25}
d.update({"country":"USA"})
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [26]:
#  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
d = {'name': 'Alice', 'age': 30}
print(d["name"])

Alice

In [27]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
print(d)

{'name': 'Bob', 'city': 'New York'}

In [28]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [29]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
lst = [1, 2, 3]
t = (4, 5, 6)
d = {"a": 10}
print(lst, t, d)

[1, 2, 3] (4, 5, 6) {'a': 10}

In [30]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[23, 31, 54, 79, 91]

In [31]:
#  Write a code to create a list with strings and print the element at the third index.
lst = ["apple", "banana", "cherry", "mango", "grape"]
print(lst[3])

mango

In [34]:
d1 = {"a": 1}
d2 = {"b": 2}
d = {**d1, **d2}
print(d)

{'a': 1, 'b': 2}

In [35]:
#Write a code to convert a list of strings into a set.
lst = ["apple", "banana", "apple", "orange"]
s = set(lst)
print(s)

{'orange', 'banana', 'apple'}